doctype html
html(lang='en')
  head
    title MyToDoApp
    link(rel='stylesheet', href='/static/style.css')
   
body 
  
    div.Section
        div.SectionImg
          h1.name My Daily Works
        block Content 
       
    